<div class="book">
    <div class="info-container-profile">
        <img src="{{imageUrl}}">
    </div>
    <div class="details-btn">
        <a href="/details/{{_id}}" class="details">Details</a>
    </div>
</div>